/* Colours

#EF3726
#000000
#1A8BD9
#FFB600
#FF8201
#FFFFFF

fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Nova Mono', monospace;
*/



body{
    
    font-family: 'Montserrat', sans-serif;
}

h1{
    color: #fff;
    font-size: 3.5rem !important;
    font-weight: 900 !important;
}

h2{
    color: #000000;
    font-size: 3rem !important;
    font-weight: 600!important;
}

a{
    font-size: 1.5rem !important;
    font-family: 'Nova Mono', monospace;
    font-weight: 100 !important;
}



.container-fluid{
    padding: 3% 15% 3% 15% !important;
    
}

/*Headings */

.header-large{

    line-height: 1.5 !important;
    
}

.dowload-retro-heading{
    font-family: 'Nova Mono', monospace;
    line-height: 1.5;
}

.pricing-header{
    color: #000000; 
    padding-bottom:1.5rem ;
}

.feature-headings{
    
    font-family: 'Nova Mono', monospace;
    font-size: 3rem;
   
}

.carousel-header{
    color:#fff;
    line-height: 1.5;
    font-weight: 900 !important;
}

.pricing-price{
    line-height: 2;
}

/* Links */

.navbar-brand{
    font-size: 3rem !important;
    font-weight: 200 !important;
}

.nav-link:hover{
    color: #FFB600 !important;
}

.footer-tag{
    color:#1A8BD9;
    text-decoration: none;
    padding: 1.5rem
}

/* Paragraphs */

.feature-discription{
    font-size: 1.5rem !important;
    color: #757575;
    
}

.price-discription{
    line-height: 2;
}

.copyright{
    line-height: 2;
}

/* Images */

.andrew-img{
    width: 50%;
    transform: rotate(10deg) !important;
    margin-left: 25%;
}

.testimonial-image{
    width:10%;
    margin: 20px;
}


/* Sections */

#header{
    
    background-color: #EF3726;
}

#features{
    text-align: center;
    padding: 3rem 0;
}

#testimonials{
    color: #ffffff;
    background-color: #1A8BD9;
    text-align: center;

}

#press{
    background-color: #1A8BD9;
    text-align: center;
    padding-bottom: 3%;
}

#download{
    padding: 7% 15%;
    background-color: #FF8201 !important;
    text-align: center;
}

#footer{
    text-align: center;
    padding: 3rem;
}


/* Navagation Bar */

.navbar{
    padding-bottom: 4.5rem !important;
}

.nav-item{
    padding: 0 18px !important;
}

/* Download Buttons */

.dowload-button{
    margin: 5% 3% 5% 0 !important;
}

/* Features */

.feature-box{
    padding: 5%;
}

.feature-icons{
    color: #1A8BD9;
    font-size: 5rem;
    padding-bottom: 1.5rem;
    
}

.feature-icons:hover{
    color: #EF3726;
}


/* Testimonials */

.press-logo{
    padding: 3% 3%;
    width: 15%;
}

.carousel-item{
    padding: 3% 15% 3% 15% !important;
}


/* Pricing */

.pricing-card{
    padding: 2% 3%;
}

.model-pack{
    color: #ffffff;
    background-color:#EF3726 !important ;
    font-family: 'Nova Mono', monospace;
}

.model-button{
    color: #EF3726!important;
    background-color: white !important ;
    border-color: #EF3726 !important;
}

.model-button:hover{
    background-color: #EF3726 !important;
    color:white !important;
}

.art-pack{
    color: #ffffff;
    background-color:#FF8201 !important ;
    font-family: 'Nova Mono', monospace;
}

.art-button{
    color: #FF8201!important;
    background-color: white !important ;
    border-color: #FF8201 !important;
}

.art-button:hover{
    background-color: #FF8201 !important;
    color:white !important;
}
.photo-pack{
    color: #ffffff;
    background-color:#1A8BD9 !important ;
    font-family: 'Nova Mono', monospace;
}

.photo-button{
    color: #1A8BD9!important;
    background-color: white !important ;
    border-color: #1A8BD9 !important;
}

.photo-button:hover{
    background-color: #1A8BD9 !important;
    color:white !important;
}


/* Media */

@media (max-width: 1024px) and (min-width: 601px){

    .heading-row{
        text-align: center;
    }

    h1{
        font-size: 2.5rem !important;
    }

    .carousel-header, .dowload-retro-heading{
        font-size: 2rem;
    }

    .testimonial-image{
        width: 30%;
    }
}

@media ( max-width: 600px) {
    .heading-row{
        text-align: center;
    }

    h1, .carousel-header, .dowload-retro-heading{
        font-size: 2rem !important;
    }

    em{
        font-size: 0.5rem;
    }

    .pricing-header, .pricing-price{
        line-height: 2;
        font-size: 2rem;
    }

    .testimonial-image{
        width: 30%;
    }
   
}